* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:#6c6b6b;
}

header{
  height:50px;
  background-color:#FF9A4B;
}

main{
  width:960px;
  margin:50px auto;
  display:flex;
  
}

.contents-box{
  width:300px;
  background-color:#EEEEEE;
  padding:10px;
  position:relative;
  margin-right:30px;
  
}

.contents-image1{
  background-image:url(img/flow01.png);
  background-size:cover;
  background-position:bottom;
  height:150px;
}

.contents-image2{
  background-image:url(img/flow02.png);
  background-size:cover;
  background-position:bottom;
  height:150px;
}

.contents-image3{
  background-image:url(img/flow03.png);
  background-size:cover;
  background-position:bottom;
  height:150px;
}

.step{
  background-color:#FF9A4B;
  color:#fff;
  position:absolute;
  top:0;
  left:0;
}

.title{
  margin:15px 0 5px;
}

footer{
  height:50px;
  background-color:#aaa;
}